<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%white{%d{yyyy-MM-dd/HH:mm:ss.SSS}{GMT+8}} %highlight{%-5level}{ERROR=red, WARN=yellow, INFO=normal, DEBUG=green, TRACE=blue} %-64.64C{10} [%cyan{%t}] %highlight{%msg%n%throwable}{ERROR=red, WARN=yellow, INFO=normal, DEBUG=green, TRACE=blue}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="org.projw.blackserver" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>